* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-color:black;
    overflow-x: hidden;
    scrollbar-width: none;
 
}

.main-container {
    min-width: 1900px;
}

#img-logo {
    width: 90px;
}
#profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.header {
    width: 97vw;
    margin: 0 auto;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    background-color:black;
    
}
i {
    color: white;
}

input {
    background-color: #3E3E3E;
    color: white;
}
.col {
    display: flex;
    gap: 2rem;
    margin: .5em 0 ;
}

.col .fa-youtube{
    color: red;
}
.col i+i+h4 {
    margin-left: -1.9rem;
    color: gray;
    margin-top: -.2rem;
}
.col h4 sup {
    font-size: .7rem;
    color: #3E3E3E;
}

#search-bar-icon {
  display: none;
}

input[type="text"] {
    width: 35vw;
    padding-left: 1rem;
    border-radius: 2rem 0 0 2rem;
    font-size: 1rem;
    border: none;
}

#search-nav-icon {
    background-color: #3E3E3E;
    padding: .5rem 1.5rem;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
    margin-left: -2rem;
    border-radius: 0 2rem 2rem 0;

}

#nav-mic {
    font-size: 1rem;
    margin-left: -1rem;
    padding:.7rem ;
    background-color: #3E3E3E;
    border-radius: 2rem;
}

svg {
    width: 26px;
}

.main-content{
    width: 97vw;
    margin: 0 auto;
    display: flex;
}

.left-content {
    position: sticky;
    top: 70px;
    cursor: pointer;
    width:15%;
}

.right-content {  
    width:85%;
    flex-grow: 1;
}

.nav-bar {
    position: sticky;
    top: 67px;
    overflow-x: scroll;
    background-color:black;
    padding: 1rem;
}
.nav-bar ul {
    display: flex;
    gap: 1rem;
}

.nav-bar ul li {
    list-style: none;
    text-wrap: nowrap;
    padding: .5rem;
    border-radius: 0.5rem;
    background-color: #3E3E3E;

}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    
}
 
.left-content .sidebar{
    display:flex;
    gap: 1.5rem;
    list-style: none;
    padding:.7rem 0;
    font-size: 1.5rem;

}

.footer>p{
    color: rgba(255, 255, 255, 0.443);
    width: 70%;
    margin-bottom: 1rem;
}

.footer p+p {
    width: 100%;
}

blockquote {
    color: #3E3E3E;
}

.right-body-box .box li+li {
    color: white;
}

.right-body-box ul+ul{
    display: flex;
    flex-direction: column;
    margin-left: 2.9rem;
 
}

.right-body-box .box ul+ul a{
    text-decoration: none;
    color:#ddc1a948;
    
}

.right-body-box .box ul +ul>li+li {
    color:#ddc1a979;
    margin-top: -1rem;
}

.left-content .sidebar:hover {
    background-color: #3E3E3E;
}


.left-content a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
}

hr {
    margin: .5rem 0;
}

.right-body-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.box {
    margin: .5rem 0;
    padding: .5rem;
}

.box iframe {
    width: 100%;
    height: 230px;
    border-radius: 1rem;
}

.box img {
    width:30px;
    height:30px;
    border-radius: 50%;
}

.box ul {
    margin-top: .5rem;
    text-wrap: wrap;
    display: flex;
    gap: 1rem;
}


.box ul >li+li+li{
    margin-left: 4.2rem;
}

.box ul li {
    font-weight: 700;
    list-style: none;
}

.box:hover {
    border-radius: 1rem;
    background-color:#071E33;
}

@media (max-width:425px) {

    .main-container {
        min-width: 425px;
    }
    .left-content {
        display: none;
    }
     
    .header  {
        font-size: .8rem;
    }
    input[type="text"] {
        width: 25vw;
        border: none;
    }

    #nav-mic {
    display: none;
    }

    #profile-img {
    width: 15px;
    height: 15px;
    }

    .col {
    gap: 1rem;
    }

    .col .fa-youtube {
    margin-right: 1rem;
    }

    .nav-bar {
        position: sticky;
        top: 37px;
        overflow-x: scroll;
        background-color:black;
        padding: .5rem;
        margin-bottom:.5rem;
    }

    .nav-bar ul li {
        font-size: .5rem;
    }


}

@media (max-width:1024px) {
    .main-container {
        min-width: 1024px;
    }
}

@media (max-width:768px) {
    .main-container {
        min-width: 768px;
    }
} 